[submodule "headphones"]
	path = headphones
	url = git://github.com/rembo10/headphones.git
[submodule "CouchPotatoServer"]
	path = CouchPotatoServer
	url = git://github.com/RuudBurger/CouchPotatoServer.git
[submodule "Sick-Beard"]
	path = Sick-Beard
	url = git://github.com/midgetspy/Sick-Beard.git
[submodule "sabnzbd"]
	path = sabnzbd
	url = git://github.com/sabnzbd/sabnzbd.git
